.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
    text-align: center;
}

.close-button {
    padding: 5px 10px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.pagination-button {
    padding: 5px 10px;
    margin: 0 5px;
    border: none;
    background-color: #f0f0f0;
    border-radius: 4px;
    cursor: pointer;
}

.pagination-button.active {
    background-color: #2196F3;
    color: white;
}

.chapter-button {
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    background-color: #f0f0f0;
    cursor: pointer;
    font-size: 14px;
    width: 50px;
    height: 50px;
}

.chapter-button.leido {
    background-color: #4CAF50; /* Verde para capítulos leídos */
    color: white;
}

.chapter-button:hover {
    background-color: #ddd;
}

.chapters-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    gap: 5px;
}
